.header {
    position: sticky;
    top: 0;
    z-index: 999;
    display: flex;
    border-bottom: 0.1px solid lightgray;
    padding-top: 10px;
    padding-bottom: 10px;
    justify-content: space-evenly;
    width: 100%;
    background-color: white;
}

.header-left {
    display: flex;
}

.header-search {
    padding: 10px;
    display: flex;
    align-items: center;
    border-radius: 5px;
    height: 20px;
    color: gray;
    background-color: #eef3f8;
}

.header-search > input {
    outline: none;
    border: none;
    background: none;
}

.header-left > img {
    object-fit: contain;
    height: 40px;
    margin-right: 10px;
}

.header-right {
    display: flex;
}

.header-option-icon {
    object-fit: contain;
    height: 25px !important;
    width: 25px !important;
}