.header-option {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 20px;
    color: gray;
    cursor: pointer;
}

.header-option:hover {
    color: black;
}

.header-option-title {
    font-size: 12px;
    font-weight: 400;
}