.sidebar {
    top: 80px;
    position: sticky;
    flex: 0.2;
    border-radius: 10px;
    height: fit-content;
    text-align: center;
}

.sidebar-avatar{
    margin-bottom: 10px;
}

.sidebar-top {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid lightgray;
    border-bottom: 0;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background-color: white;
    padding-bottom: 10px;
}

.sidebar-top > img {
    margin-bottom: -20px;
    width: 100%;
    height: 60px;
    object-fit: cover;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.sidebar-stat {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
}

.sidebar-stat > p {
    color: gray;
    font-size: 13px;
    font-weight: 600;
}

.sidebar-statnumber {
    font-weight: bold !important;
    color: #0a66c2 !important;
}

.sidebar-stats {
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid lightgray;
    background-color: white;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.sidebar-top > h4 {
    color: gray;
    font-size: 12px;
}

.sidebar-stats > h2 {
    font-size: 18px;
}

.sidebar-bottom {
    text-align: left;
    padding: 10px;
    border: 1px solid lightgray;
    background-color: white;
    border-radius: 10px;
    margin-top: 10px;
}

.sidebar-recentitem {
    display: flex;
    font-size: 13px;
    color: gray;
    font-weight: bolder;
    cursor: pointer;
    margin-bottom: 5px;
    padding: 5px;
}

.sidebar-recentitem:hover{
    background-color: whitesmoke;
    border-radius: 10px;
    cursor:pointer;
    color: black;
}

.sidebar-hash {
    margin-right: 10px;
    margin-left: 5px;
}
